.dashboard {
    margin-top: 0;
}

.dashboard__title {
    margin-bottom: 15px;
    color: var(--dark-color);
    display: none;
}

.dashboard__date {
    text-align: right;
}

.dashboard__swiper {
    margin-bottom: 30px;
}