.resumecard {
    border: 2px solid rgb(60, 60, 60, 0.4);
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    margin-right: 0 !important;
}

.resumecard.active {
    border-color: var(--disabled-primary);
}

.resumecard {
    .resume__date {
        font-size: 12px;
    }

    .resume__date, .resume__temperature {
        color: var(--dark-color);
        font-weight: 700;
    }

    .resume__temperature {
        font-size: 22px;
        margin-bottom: 7px;
    }

    .resume__weather {
        color: var(--text-color);
    }

    .resume__img {
        width: 50px;
        height: 50px;
    }
}

.resumecard.weekly {
    display: flex;
    align-items: center;

    .resume{
        text-align: left;
    }

    .resume__date {
        white-space: nowrap;
    }
    
    .resume__temperature {
        margin: 5px 0 0;
    }
}