.weathercard {
    text-align: center;
    margin: 25px 0;
    padding: 30px 20px;
}

.weathercard__general .place__title {
    color: var(--primary-color);
    font-size: 22px;
    margin: 5px 0;
}

.weathercard__general .weatherdesc__time {
    text-transform: capitalize;
}

.weathercard__general .weatherdesc__img {
    width: 50%;
}

.weathercard__general .weatherdesc__main {
    font-size: 22px;
    color: var(--dark-color);
}

.weathercard__general .weatherdesc__description {
    text-transform: capitalize;
}

.weathercard__details {
    padding: 15px 0;
}

.weathercard__details .temperatures {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.weathercard__details .temperatures__primary {
    font-size: 70px;
    color: var(--dark-color);
    font-weight: 700;
    text-align: right;
}

.weathercard__details .temperatures__feelslike{
    font-size: 22px;
    text-align: left;
}

.weathercard__details .forecastdetails {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.weathercard__details .forecastdetails__detail, 
.weathercard__details .timedetails__data, 
.weathercard__details .tempdetails__temp {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 25px;
        height: 25px;
    }

    p {
        margin-left: 5px;
    }
}

.weathercard__details .timedetails, 
.weathercard__details .tempdetails {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    align-items: center;
}
